<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../ressouces/css/addHousing.css">
    <title>Document</title>
</head>
<body>
    <h1>Ajouter une nouvelle propriété</h1>
    <div class="container">
        <form action="addHousingView.php" method="post" enctype="multipart/form-data">
            <div class="grid-layout">
                <div>
                    <label for="">Nom : <span class="star">*</span></label>
                    <input type="text" placeholder="Entrer un nom">
                </div>
                
                <div>
                    <label for="">Nombre de places : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer le nombre d'occupant possible">
                </div>
                <div>
                    <label for="">Type d'hébergement : <span class="star">*</span></label>
    
                    <select name="" id="">
                        <option value="">Selectionner un type</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Surface : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer la superficie">
                </div>
                
                
                <!-- <div>
                    <label for="">Date d'hébergement : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div> -->
                
                <div>
                    <label for="">Secteur : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div>
                
                <div>
                    <label for="">Orientation : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div>
    
                <div>
                    <label for="">Etat : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un Etat">
                </div>
    
                <div>
                    <label for="">Prix : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un prix">
                </div>
                <div>
                    
                    <label for="">Type d'hébergement : <span class="star">*</span></label>
                    
                    <select name="" id="">
                        <option value="">Selectionner un type</option>
                    </select>
                </div>
                
                
                <div>
                    <label for="">Nombre de places : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer le nombre d'occupant possible">
                </div>
    
                <div>
                    <label for="">Surface : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer la superficie">
                </div>
    
    
                <!-- <div>
                    <label for="">Date d'hébergement : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div> -->
    
                <div>
                    <label for="">Secteur : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div>
                
                <div>
                    <label for="">Orientation : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un nom">
                </div>
                
                <div>
                    <label for="">Etat : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un Etat">
                </div>
                <div>
                    <label for="">Internet : <span class="star">*</span></label>
                    
                    <input type="checkbox" name="" id="">
                </div>
                
                <div>
                    <label for="">Prix : <span class="star">*</span></label>
                    
                    <input type="text" placeholder="Entrer un prix">
                </div>
            </div>

            <div>
                <label for="">Description : <span class="star">*</span></label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>


            <label for="">Ajouter une image : <span class="star">*</span></label>
            <input type="file" name="" id="">

            <button>Ajouter une propriété</button>
        </form>
    </div>
</body>
</html>